footer{
    background-color: cadetblue;
    text-align: center;
    border-style:double;
    border-radius: 8px;
    margin-top: 20px;
}

.resaltarBlanco{
    color:aliceblue;
} 

div.opcion{
    background-color: lightsalmon;
    display: inline;
    border-style: solid;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
}

nav#barraNav{
    background-color: #0693e3;
}

nav a.navbar-brand{
    color: yellow;
}

a.bam{
    background-color: #0693e3; 
    color: white;
    border-style: solid;
    border-color: black;
}